.header{
    background: #4779BE;
}

.buttonContainer div {
    background: #4779BE; 
}

#hello{
    color: #4779BE;
}

#comment{
    border: 4px solid #4779BE;
    color: #4779BE;
}

#triangle{
    border-top: 20px solid #4779BE;
}