* {
    margin: 0;
    padding: 0;
    cursor: default;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 170%;
}

.header {
    width: 100%;
    height: 45px;
}

.brand {
    float: left;
    margin: 6px;
    padding-left: 10px;
    color: #FFF;
}

.content {
    margin: 10% auto;
    width: 70%;
}

#hello {
    width: 100%;
    min-height: 60px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 0.9em;
}

.buttonContainer div {
    width: 200px;
    height: 70px;
    padding-top: 30px;
    border-radius: 8px;
    text-align: center;
    opacity: 0;
    color: #FFF;
}

.buttonContainer {
    width: 100%;
    height: 220px;
}

.leftButton {
    float: left;
}

.rightButton {
    float: right;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    background: #F9F9F9;
    outline: 1px solid #eeeeee;
}

.info {
    float: right;
    padding-right: 15px;
    font-family: verdana, arial, sans-serif;
    color: #383838;
    font-size: 0.65em;
    line-height: 45px;
}

/* Height */

@media screen and (max-height: 330px) {
    .footer {
        display: none;
    }
}

@media screen and (max-height: 285px) {
    #hello {
        display: none;
    }

    .buttonContainer {
        display: none;
    }
}

@media screen and (max-height: 45px) {
    .header {
        display: none;
    }
}

/* Width */

@media screen and (max-width: 730px) {
    #hello {
        margin-top: 100px;
    }

    .buttonContainer {
        margin: 20px auto;
        float: none;
        width: 200px;
        height: 260px;
        display: block;
    }

    .buttonContainer div {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 680px) {
    .brand {
        float: left;
        padding-left: 10px;
        margin: 6px;
    }
}

@media screen and (max-width: 500px) {
    .footer {
        display: none;
    }
}
