*{
    margin: 0px;
    padding: 0px;
}

body{
    background: #FFF;
    font-family: Arial, sans-serif;
    font-size: 170%;
    color: #FFF;
    width: 100%;
    height: 100%;
}

.header{
    cursor: default;
    margin: 0px;
    width: 100%;
    height: 45px;
}

.brand{
    cursor: default;
    float: right;
    padding-right: 10px;
    margin: 6px;
}

@media screen and (max-width: 680px){
    .brand{
        cursor: default;
        float: left;
        padding-left: 10px;
        margin: 6px;
    }
}

.content{
    margin-top: 100px;
}

.buttonContainer div {
    cursor: default;
    border-radius: 8px;
    width: 200px;
    height: 70px;
    padding-top: 30px ;
    text-align: center;
    opacity: 0
}

.buttonContainer {
    width: 70%;
    margin: 0 15%;
}

.leftButton{
    float: left;
}

.rightButton{
    float: right;
}

.footer{
    background: #F8F8F8;
    position: absolute;
    bottom: 0;
    margin: 0px;
    outline: 1px solid #e7e7e7;
    width: 100%;
    height: 45px;
}

.info{
    cursor: default;
    font-family: verdana, arial, sans-serif;
    color: #000;
    font-size: 0.6em;
    line-height: 45px;
    padding-left: 15px;
}

#hello{
    cursor: default;
    background-color: #FFF;
    font-size: 0.9em;
    width: 100%;
    min-height: 60px;
    padding-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

#info{
    right: 8px;
    bottom: 75px;
    position: absolute;
    width: 262px;
    height: 122px;
}

@media screen and (max-width: 464px){
    .info{
        display: none;
    }
    .footer{
        display: none;
    }
}

@media screen and (max-height: 525px){
    #info{
        display: none;
    }
}

@media screen and (max-width: 660px) {
    .buttonContainer {
        width: 450px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 500px){
    .buttonContainer {
        margin: 0 auto;
        float: none;
        width: 200px;
        height: 100px;
        display: block;
    }

    .buttonContainer div {
        margin-bottom: 15px;
    }
}

@media screen and (max-height: 400px) and (max-width: 500px) {
    .disabled {
        display: none;
    }
}

@media screen and (max-height: 292px) {
    .footer {
        display: none;
    }
}

@media screen and (max-height: 145px) {
    .header{
        display: none;
    }
}
@media screen and (max-height: 260px) {
     .buttonContainer {
        display: none;
    }
}

@media screen and (max-width: 500px) {
     #hello {
        display: none;
    }
     .buttonContainer {
        top: 135px;
    }
}

@media screen and (max-width: 406px) {
    #hello {
        display: none;
    }
}
