* {
    margin: 0;
    padding: 0;
    cursor: default;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
    font-size: 170%;
}

.brand {
    float: left;
    margin: 6px;
    padding-left: 10px;
    color: #FFF;
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help {
    width: 50px;
    height: 50px;
    border-radius: 300px;
    border: none;
    color: #FFFFFF;
    text-decoration: none;
    padding: 1px 0 0 1px;
    font-size: 25px;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.help:active, .help:focus {
    outline: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    font-size: small;
}

.info {
    float: right;
    padding-right: 15px;
    font-family: verdana, arial, sans-serif;
    line-height: 45px;
}

.main-container {
    margin-top: 25%;
    flex-direction: column;
    display: flex
}

.author {
    text-decoration: none;
}

.author:hover {
    color: #080808;
    text-decoration: none;
}

@media screen and (max-width: 1024px) {
    .help {
        width: 100px;
        height: 100px;
        font-size: 40px;
    }
}